astroid==2.3.0
beautifulsoup4==4.8.0
Brotli==1.0.7
csscompressor==0.9.5
Django==2.2.5
django-admin-menu==1.1
django-admin-tools==0.8.1
django-appconf==1.0.3
django-compressor==2.3
django-libsass==0.7
html5lib==1.0.1
isort==4.3.21
lazy-object-proxy==1.4.2
libsass==0.19.2
lxml==4.4.1
mccabe==0.6.1
ply==3.11
psycopg2==2.8.3
pylint==2.4.0
pytz==2019.2
rcssmin==1.0.6
rjsmin==1.1.0
six==1.12.0
slimit==0.8.1
soupsieve==1.9.4
sqlparse==0.3.0
typed-ast==1.4.0
webencodings==0.5.1
wrapt==1.11.2
